/* Code tidied up by ScrapBook */
@font-face {
  font-family: "Web Symbols Liga";
  src: url("websymbols.woff");
}
@font-face {
  font-family: "MagistralBlackC";
  src: url("magistbc.woff");
}
@font-face {
  font-family: "Neo Sans Pro";
  src: url("neosanspro-regular.woff");
}
@font-face {
  font-family: "Neo Sans Pro Light";
  src: url("neosanspro-light.woff");
}
@font-face {
  font-family: "MagistralC";
  src: url("magistralc-bold.woff");
}
body { font-family: Verdana; font-size: 8pt; margin: 0px; padding: 0px; }
h1 { font-family: MagistralBlackC; color: rgb(34, 30, 31); font-size: 19px; margin: 2px 0px 0px; padding: 2px 0px 0px; }
h2 { font-family: Neo Sans Pro; color: rgb(0, 0, 0); font-size: 14px; letter-spacing: 0.5px; margin: 0px; padding: 0px; }
#item2 h2 { font-family: Neo Sans Pro; color: rgb(255, 255, 255); font-size: 14px; letter-spacing: 1px; margin: 0px; padding: 0px; }
h1 { font-weight: normal; }
h3 { font-family: MagistralC; color: rgb(19, 19, 19); font-size: 16px; margin: 0px; padding: 0px; }
a.item_name { text-decoration: none; }
a.item_name:hover { text-decoration: underline; }
a.link_2 { display: inline-block; color: rgb(3, 3, 3); padding-left: 11px; padding-top: 14px; text-decoration: none; }
a.link_2:hover { text-decoration: underline; }
a.link_2:active { text-decoration: underline; font-weight: bold; }
a.footer1 { color: rgb(157, 1, 1); text-decoration: none; }
a.footer1:hover { text-decoration: underline; }
.smart_arrow { width: 19px; display: inline-block; vertical-align: top; font-family: Web Symbols Liga; font-size: 19px; color: rgb(252, 0, 35); padding-top: 6px; }
.vivid-red { color: rgb(204, 51, 51); }
.h3-dark-red { color: rgb(177, 52, 52); font-size: 16px; }
.item_subtitle { color: rgb(131, 128, 120); }
#item2, #item3 { text-align: center; }
.item_desc { font-family: Neo Sans Pro; font-size: 11px; letter-spacing: -0.5px; margin: 0px; padding: 0px; }
.item_desc p { width: 200px; margin: 0px; padding: 0px; }
.item_subtitle { color: rgb(131, 128, 120); }
.links_menu { font-family: Neo Sans Pro Light; font-weight: bold; letter-spacing: 0.4px; color: rgb(178, 0, 0); font-size: 12px; text-align: right; margin: 29px 6px 0px 0px; }
.links_block { font-family: Neo Sans Pro; font-size: 11px; margin-left: 20px; margin-right: 6px; text-align: right; }
.page_footer { width: 1023px; background: transparent url("footer_bg.gif") repeat scroll 0% 0%; }
.footer_logo { display: inline-block; width: 377px; padding: 71px 0px 0px 134px; }
.footer_zayavka { display: inline-block; vertical-align: top; padding: 95px 0px 0px 101px; }
.footer_menu { display: inline-block; vertical-align: top; width: 270px; margin-top: 21px; }
.first { margin-left: 112px; }
.footer_menu ul, .footer_menu2 ul { display: inline-block; font-family: Neo Sans Pro Light; letter-spacing: 0.4px; text-transform: uppercase; font-size: 12px; font-weight: 600; list-style-type: none; margin: 0px; padding: 0px; }
.footer_menu ul li, .footer_menu2 ul li { padding-top: 12px; }
.footer_text { padding: 50px 90px; width: 843px; height: 95px; font-family: Neo Sans Pro Light; text-align: justify; letter-spacing: -0.1px; font-size: 11px; }
.black-border-1px { border: 1px solid rgb(0, 0, 0); background-color: white; }
.swiper-container { width: 767px; height: 399px; }
@keyframes slideUp {
0% { transform: translateY(6.25rem); }
100% { transform: translateY(0px); }
}
@keyframes slideUp {
0% { transform: translateY(6.25rem); }
100% { transform: translateY(0px); }
}
.swiper-slide { text-align: center; font-size: 18px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; display: flex; -moz-box-pack: center; justify-content: center; -moz-box-align: center; align-items: center; }
